In [26]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import svm
from sklearn import metrics

In [5]:
df = pd.read_csv("result-Autism-Adult-Data .csv")
df.head()

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age,gender,ethnicity,jundice,austim,contry_of_res,used_app_be0ore,result,relation,Class/ASD
0,1,1,1,1,0,0,1,1,0,0,26,0,10,0,0,65,0,6,5,0
1,1,1,0,1,0,0,0,1,0,1,24,1,4,0,1,14,0,5,5,0
2,1,1,0,1,1,0,1,1,1,1,27,1,4,1,1,57,0,8,3,1
3,1,1,0,1,0,0,1,1,0,1,35,0,10,0,1,65,0,6,5,0
4,1,0,0,0,0,0,0,1,0,0,40,0,11,0,0,23,0,2,6,0

In [7]:
X = df.iloc[:,0:19]
Y = df.iloc[:,19]

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3)

In [24]:
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
score = metrics.accuracy_score(y_test, y_pred)
print('Accuracy:{0:f}'.format(score*100))

Accuracy:90.566038

In [27]:
clf = svm.SVC(kernel='linear')
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
score = metrics.accuracy_score(y_test, y_pred)
print('Accuracy:{0:f}'.format(score*100))

Accuracy:100.000000